@charset "utf-8";
/* CSS Document */
/* Table de contenu du code CSS de la page d'accueil
******************************
1. Fonts
2. Corps et de reglage de mise de page
3. Menu
4. Home (corps de la page)
5. panier
6. Footer (pie de page)
******************************/
/***********
1. Fonts
***********/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Open+Sans:400,600,800');
@font-face{
	font-family: 'Futura';
	src: url('../fonts/FuturaLT-Book.ttf')  format('truetype');
}
/*********************************
2. Corps et de reglage de mise de page
*********************************/
*{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul{
	list-style: none;
	margin-bottom: 0px;
}
p{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
	color: #969696;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
a{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
/*********************************
3. Menu
*********************************/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-position: center;
	box-sizing: border-box;
	font-family: sans-serif;
}
.menu-bar {
	background: rgb(129, 188, 236);
	text-align: Center;
	position: relative;
	 z-index: 1000;
}
.menu-bar ul {
	display: inline-flex;
	list-style: none;
	color: #FFF;
}
.menu-bar ul li {
	width: 200px;
	margin: 15px;
	padding: 15px;
}

.menu-bar ul li a {
	text-decoration: none;
	color: #FFF;
}
.active, .menu-bar ul li:hover {
	background: rgb(176, 143, 204);
	border-radius: 3px;
}
.menu-bar, .fa {
	padding-right: 8px;
}
.sub-menu1 {
	display: none;
	color: black;
}
.menu-bar ul li:hover .sub-menu1 {
	display: block;
	position: absolute;
	background: pink;
	margin-top: 15px;
	margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu1 ul {
	display: block;
	margin: 10px;
}
.menu-bar ul li:hover .sub-menu1 ul li {
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #FFF;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu1 ul li:last-child {
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu1 ul li a:hover {
	color: rgb(3, 3, 3);
}
.fa-angle-right{
	float: right;
}
.sub-menu2{
	display: none;
}
.hover-me:hover .sub-menu2{
	position: absolute;
	display: block;
	margin-top: -40px;
	margin-left: 140px;
	background: rgb(157, 205, 228);
}
/*********************************
4. Home
*********************************/
.home{
	width: 100%;
	height: 234px;
	padding-top: 79px;
	background:rgb(82, 144, 236);
	color: black;
}
.home_container	{
	width: 100%;
	height: 100%;
	padding-bottom: 43px;
}
.home_title{
	font-size: 36px;
	color: #FFFFFF;
	font-weight: 700;
	line-height: 0.75;
}
.breadcrumbs{
	margin-top: 15px;
}
.breadcrumbs ul li{
	position: relative;
}
.breadcrumbs ul li:not(:last-of-type)::after{
	display: inline-block;
	content: '/';
	font-size: 16px;
	font-weight: 500;
	color: #050505;
	margin-left: 4px;
	margin-right: 4px;
}
.breadcrumbs ul li,
.breadcrumbs ul li a{
	font-size: 16px;
	font-weight: 500;
	color: #020202;
}
.breadcrumbs ul li a:hover{
	color: rgb(235, 48, 64);
}
/*********************************
5. Panier
*********************************/
.cart_section{
	width: 100%;
	background: #FFFFFF;
	padding-top: 68px;
	padding-bottom: 100px;
}
.cart_bar{
	width: 100%;
	padding-bottom: 28px;
	border-bottom: solid 1px #ededed;
}
.cart_bar_list{
	display: block;
}
.cart_bar_list li{
	font-family: 'Open Sans', sans-serif;
	width: 78px;
	font-size: 16px;
	font-weight: 400;
	color: #000000;
}
.cart_bar_list li:first-child{
	width: auto;
}
.cart_bar_list li:not(:first-child):not(:last-child){
	margin-right: 30px;
}
.item_list > *:first-child{
	text-align: left;
}
.cart_items{
	
}
.cart_items_list{
	display: block;
}
.cart_item{
	 width: 100%;
	 height: 126px;
	 padding-top: 23px;
	 padding-bottom: 23px;
	 border-bottom: solid 1px #ededed;
}
.cart_item > div:not(:first-child){
	width: 68px;
}
.cart_item > div:not(:first-child):not(:last-child){
	margin-right: 30px;
}
.product{
	height: 100%;
}
.product_image{
	width: 67px;
	height: 75px;
}
.product_image img{
	max-width: 100%;
}
.product_number{
	width: 98px;
	padding-left: 36px;
	font-size: 18px;
	font-weight: 300;
	color: #4a4a4a;
}
.product_name_container{
	padding-left: 30px;
}
.product_name a{
	font-size: 18px;
	color: #0c0c0c;
	font-weight: 500;
}
.product_name a:hover{
	color: rgb(82, 144, 236);
}
.product_text{
	font-size: 14px;
	font-weight: 100;
	color: #050505;
}
.product_price
{
	font-size: 14px !important;
}
.product_total{
	font-size: 16px !important;
	font-weight: 500 !important;
}
.product_text{
	font-size: 14px;
	font-weight: 150;
	color: #0c0c0c;
}
.product_quantity{
	width: 68px;
	height: 32px;
	border: solid 2px #969696;
	border-radius: 3px;
}
.product_quantity > input{
	line-height: 28px;
	font-size: 16px;
	font-weight: 300;
	color: #4a4a4a;
	text-align: center;
}
.qty_button{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 22px;
	height: 100%;
	line-height: 28px;
	cursor: pointer;
	font-size: 16px;
	color: #414141;
}
.qty_button span{
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.qty_button:hover{
	color: #bbe432;
}
.qty_sub{
	left: 0px;
}
.qty_add{
	right: 0px;
}
.product_text > span{
	display: none;
}
.cart_buttons{
	margin-top: 30px;
}
.button{
	height: 44px;
	text-align: center;
	margin-bottom: 10px;
	border-radius: 3px;
}
.button:not(:last-child){
	margin-right: 21px;
}
.button a{
	display: block;
	line-height: 44px;
	padding-left: 18px;
	padding-right: 18px;
	font-size: 18px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}
.button_continue{
	background: rgb(82, 144, 236);
}
.button_continue:hover{
	background: #000000;
}
.button_clear{
	background: #b2b2b2;
}
.button_clear:hover{
	background: #414141;
}
.button_clear:hover a{
	color: #FFFFFF;
}
.cart_extra_row{
	margin-top: 53px;
}
.cart_extra_content{
	background: #f8f8f8;
	padding-top: 51px;
	padding-left: 68px;
	padding-right: 82px;
}
.cart_extra_coupon{
	padding-bottom: 54px;
}
.cart_extra_title{
	font-size: 24px;
	font-weight: 700;
	color: #050505;
	line-height: 0.75;
}
.coupon_form_container{
	max-width: 400px;
	margin-top: 31px;
}
.coupon_form{
	display: block;
}
.coupon_input{
	width: calc(100% - 120px);
	height: 44px;
	border: none;
	background: #FFFFFF;
	outline: none;
	margin-right: 30px;
	padding-left: 20px;
}
.coupon_button{
	position: absolute;
	top: 0;
	right: 0;
	width: 90px;
	height: 44px;
	background: rgb(82, 144, 236);
	border-radius: 3px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	border: none;
	outline: none;
	cursor: pointer;
}
.coupon_livraison{
	position: absolute;
	top: 0;
	right: 0;
	width: 90px;
	height: 44px;
	background: rgb(82, 144, 236);
	border-radius: 3px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	border: none;
	outline: none;
	cursor: pointer;
}
.coupon_text{
	font-size: 14px;
	font-weight: 300;
	color: #4a4a4a;
	line-height: 1.75;
	margin-top: 26px;
}
.shipping{
	margin-top: 38px;
	max-width: 363px;
}
.shipping ul{
	margin-top: 47px;
}
.shipping ul li:not(:last-child){
	margin-bottom: 7px;
}
.shipping_option input{
	display: inline-block;
	vertical-align: middle;
}
.radio_container{
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	color: #52a5f3;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
}
.shipping_radio{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
}
.radio_mark{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	width: 16px;
	height: 16px;
	background: transparent;
	border: solid 2px #838383;
	border-radius: 50%;
}
.radio_mark::after{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fa0202;
	content: '';
	visibility: hidden;
	opacity: 0;
}
.radio_container input:checked ~ .radio_mark{
	border-color: rgb(82, 144, 236);
}
.radio_container input:checked ~ .radio_mark::after{
	visibility: visible;
	opacity: 1;
}
.radio_container input:checked ~ .radio_text{
	color: rgb(82, 144, 236);
}
.radio_text{
	font-size: 14px;
	font-weight: 500;
	color: #020202;
}
.shipping_price{
	font-size: 14px;
	font-weight: 600;
	color: #070707;
	text-transform: uppercase;
}
.cart_extra_total{
	padding-bottom: 52px;
	padding-right: 68px;
}
.cart_extra_total_list{
	margin-top: 97px;
	padding-right: 48px;
	padding-left: 20px;
}
.cart_extra_total_list li{
	position: relative;
}
.cart_extra_total_list li:not(:last-child){
	margin-bottom: 24px;
}
.cart_extra_total_title, .cart_extra_total_value{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #050505;
}
.cart_extra_total_value{
	color: #4a4a4a;
}
.cart_extra_total_list li:last-child .cart_extra_total_value{
	color: #4a4a4a;
	font-weight: 800;
}
.cart_extra_total_list li:last-child::before{
	display: block;
	position: absolute;
	top: 50%;
	left: -20px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: calc(100% + 68px);
	height: 41px;
	background: #FFFFFF;
	content: '';
	z-index: 0;
}
.checkout_button{
	width: 100%;
	height: 44px;
	text-align: center;
	background: rgb(82, 144, 236);
	border-radius: 3px;
	margin-top: 70px;
}
.checkout_button a{
	display: block;
	font-size: 18px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 44px;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.checkout_button:hover{
	background: #eb3e3e;
}
/*********************************
7. Footer
*********************************/
footer{
	display: block;
	width: 100%;
	background: #f8f8f8;
}
.footer_content{
	padding-bottom: 100px;
}
.footer_about{
	padding-top: 47px;
}
.footer_logo{
	margin-left: 10px;
}
.footer_logo a{
	display: block;
}
.footer_logo a > div > div:last-child{
	font-size: 34.46px;
	font-weight: 700;
	color: #050505;
	padding-left: 22px;
	-webkit-transform: translateY(3px);
	-moz-transform: translateY(3px);
	-ms-transform: translateY(3px);
	-o-transform: translateY(3px);
	transform: translateY(3px);
}
.footer_about_text p{
	margin-top: 24px;
	padding-right: 50px;
	text-align: justify;
	color: rgb(0, 0, 0);
}
.footer_menu{
	padding-top: 64px;
}
.footer_title{
	font-size: 36px;
	font-weight: 700;
	color: #030303;
	line-height: 0.75;
}
.footer_list{
	display: block;
	width: 100%;
	margin-top: 29px;
}
.footer_list li{
	width: 100%;
	position: relative;
	height: 60px;
}
.footer_list li:not(:last-of-type){
	border-bottom: solid 2px #eeeeee;
}
.footer_list li a{
	display: block;
	position: relative;
	font-size: 18px;
	color: #4a4a4a;
	line-height: 58px;
}
.footer_list li a:hover{
	color: #2f8ece;
}
.footer_list li a > div::after{
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	font-family: 'FontAwesome';
	content: '\f054';
	font-size: 11px;
	color: #93d3f8;
}
.footer_list li a:hover > div::after{
	color: #2f8ece;
}
.footer_list li a > div{
	display: inline-block;
	padding-left: 22px;
}
.footer_list li a > div > div{
	display: block;
	position: absolute;
	top: 0;
	white-space: nowrap;
	font-size: 10px;
	color: #FFFFFF;
	line-height: 0.75;
	text-transform: uppercase;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 6px;
	margin-top: 10px;
}
.footer_tag_2{
	left: calc(100% + 25px);
	background: #beaf4a;
}
.footer_contact{
	padding-top: 64px;
}
.newsletter{
	margin-top: 48px;
}
.newseletter_form{
	width: 100%;
}
.newsletter_input{
	width: 100%;
	height: 53px;
	background: #FFFFFF;
	padding-left: 28px;
	border: none;
	outline: none;
	color: #4a4a4a;
	border-radius: 27px;
}
.newsletter_button{
	position: absolute;
	top: 0;
	right: 0;
	width: 53px;
	height: 53px;
	border-radius: 50%;
	background: #2f8ece;
	border: none;
	outline: none;
	font-size: 24px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 53px;
	text-align: center;
	cursor: pointer;
}
.footer_social{
	margin-top: 42px;
}
.footer_social_list{
	margin-top: 41px;
}
.footer_social_list li{
	width: 53px;
	height: 53px;
	border-radius: 50%;
	border: solid 2px #030303;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.footer_social_list li:not(:last-of-type){
	margin-right: 17px;
}
.footer_social_list li a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.footer_social_list li a i{
	line-height: 49px;
	color: #09adf3;
	font-size: 24px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.footer_social_list li:hover{
	border-color: #2f8ece;
	transform: translateY(-5px);
}
.footer_social_list li a:hover i{
	color: #2f8ece;
}
.footer_bar{
	width: 100%;
	border-top: solid 2px #d5d5d5;
}
.footer_bar_content{
	height: 74px;
}
.footer_nav ul li:not(:last-of-type){
	margin-right: 37px;
}
.footer_nav ul li a{
	font-size: 16px;
	font-weight: 400;
	color: #070707;
}
.footer_nav ul li a:hover{
	color: #2f8ece;
}