body{
    background-color: white;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.btn{
    background-color: #5fbae9;
}